/*Created by bash script*/
.Card{
    background-color: var(--card);
    padding: 1rem 2rem;
    padding-top: 0.5rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-1);
    text-align:start
}

