/*Created by bash script*/
.Container{
    padding: 0 0 1rem 0;
    font-size: 70%;
}
.ProgressBar{
    width: 100%;
    height: 10px;
    background-color: #CFD8DC;
    border-radius: 1rem;
}
.ProgressBar>div{
    height: 10px;
    background-color: rgb(147, 206, 88);
    border-radius: 1rem;
    transition: width 0.5s;
}

